<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <h3>Builder</h3>
            Debouncing Status: {{debunceRunning}}
            <json-editor #rawEditor [options]="options" style="height: 500px;" [data]="questions | async"></json-editor>
            <button class="btn btn-small" (click)="rawUpdateQuestion(rawEditor)"> Update</button>
            <!-- <ng-json-form 
                [questions]="selectFields" 
                (formChanged)="setFieldActive($event)" >
            </ng-json-form>
            <hr>
            <ng-container *ngIf="(fieldSelected$ | async) as syncFieldSelected">
                <ng-json-form [questions]="builderQuestions" (fieldChanged)="updateQuestion(syncFieldSelected, $event)" ></ng-json-form>
                <ng-container *ngIf="(questions | async)[syncFieldSelected]?.controlType === 'questionDropdown' ||  (questions | async)[syncFieldSelected]?.controlType ===  'questionRadio' ">
                    <h4>Options</h4>

                    <blockquote >
                        <ng-container *ngFor="let fieldOptions of (questions | async)[syncFieldSelected].options; let j = index ">
                            <div class="row">

                                <div class="col-md-10">
                                    <hr>
                                    <json-editor #editor [options]="options" style="max-height: 50px;" [data]="fieldOptions" (change)="updateOption(syncFieldSelected, j, editor, $event)"></json-editor>
                                </div>
                                <div class="col-md-2">
                                    <hr>
                                    <button class="btn btn-danger btn-small" (click)="removeOption(syncFieldSelected, j)">-</button>
                                </div>
                            </div>
                        </ng-container>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-small" (click)="addOption(syncFieldSelected)">New Option</button>
                            </div>
                        </div>
                    </blockquote>
                </ng-container>
            </ng-container> -->
        </div>
        <div class="col-8">
            <h3>Result</h3>
            <!-- <pre>
                {{ (questions | async) | json }}
            </pre> -->
            <ng-json-form [questions]="questions | async" (fieldChanged)="updateQuestionValue($event)" [debugMode]="true"></ng-json-form>

        </div>
    </div>
</div>
    
    